body{
    background-color: #f7d3515d ;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #579600af;
}

#carouselExampleCaptions .carousel-inner, #carouselExampleCaptions .carousel-item{
    height: 40svh;
}