header{
    background-color: #8C8C8C;
}

header > nav{
    padding: 5px;
}

#marca{
    text-align: center;
    padding: 9px;
}

nav > a{
    color: white;
    padding: 12px;
    margin-left: 20px;
    border-radius: 5px;
    text-decoration: none;
}

nav > a:hover{
    color: #8C8C8C;
    background-color: #DCCCBF;
}

body{
    background-color: #DCCCBF ;
    font-family: Arial, Helvetica, sans-serif;
}

#carouselExampleCaptions .carousel-inner, #carouselExampleCaptions .carousel-item{
    height: 30em;
}

#conteudo{
    margin-top: 20px;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 35px;
}

h1{
    text-align: center;
    margin-top: 90px;
    color: #8C8C8C;

}


main section {
    border: 1px solid #8c8c8c67;
    margin: 9px;
}


footer{
    background-color: #8C8C8C;
    text-align: center;
    margin-bottom: 0px;
    padding: 15px;
}

footer > p{
    margin-bottom: 0px;
}

footer a{
    text-decoration: none;
    color: aliceblue;
}

